* {
  padding: 0;
  margin: 0;
  color: white;
  scrollbar-width: thin;
  font-family: 'Varela Round', sans-serif;
}

.toast>* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}

header {
  text-align: left;
  margin: 15px;
  margin-top: 5px;
  font-size: 12px;
  padding-bottom: 10px;
  user-select: none;
  margin-left: 20%;
  margin-right: 20%;
}

.header_title {
  display: flex;
  align-items: center;
}

.header_title>a {
  text-decoration: none;
}

.footer-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1;
}

.footer-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
}

.icon-small {
  width: 50px;
}

.icon-medium {
  width: 75px;
}

.icon-large {
  width: 100px;
}

.footer_copyright {
  font-size: 13px;
  user-select: none;
}

.hide {
  display: none !important;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: border .15s, outline .15s;
  width: 25px;
  height: 25px;
}

.center {
  margin: auto;
  padding: 10px;
}

.weather_data_loading {
  width: 0;
  position: absolute;
  right: 15px;
  bottom: 15px;
  transform: translate(-50%, -50%);
  margin: 0 !important;
  transform: scale(50%);
}

.location_search {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin-top: 15px;
  text-align: center;
  display: grid;
  align-content: center;
  justify-content: center;
}

.location_search_input {
  border: none;
  outline: none;
  background-color: rgb(53, 53, 53);
  border: solid 1px rgb(80, 80, 80);
  border-radius: 3px;
  padding: 10px;
  padding-left: 40px;
  width: 350px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(230,230,230)' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  user-select: none;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.192);
  transition: border .3s, border-radius .3s;
}

.location_search_input.results_visible {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.location_search_input:hover {
  border: solid 1px rgb(90, 90, 90);
  box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.192);
}

.location_search_input:active,
.location_search_input:focus {
  border: solid 1px rgb(120, 120, 120);
  box-shadow: 3px 4px 3px 1px rgba(0, 0, 0, 0.192);
}

.location_search_results {
  user-select: none;
  display: grid;
  gap: 5px;
  background-color: rgb(46, 46, 46);
  border: solid 1px rgb(80, 80, 80);
  border-top: none;
  height: min-content;
  max-height: 250px;
  overflow-y: auto;
  min-height: min-content;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  transition: opacity .1s;
}

.header_title_text {
  font-size: 21px;
}

.hide_location_search_results {
  opacity: 0;
}

.location_search_input.results_visible~.location_search_results {
  opacity: 1;
}

.location_search_result {
  height: min-content;
  padding: 5px;
  padding-top: 5px;
  transition: background-color .2s;
  cursor: pointer;
}

.location_search_result:hover {
  background-color: rgb(63, 63, 63);
}

.weather_data {
  text-align: center;
  margin-top: 150px;
}

.weather_data_cityname_loading {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  transform-origin: center;
  transform: scale(70%);
}

.settings_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(7px);
  width: 750px;
  height: 400px;
  text-align: left;
  padding: 10px;
  background-color: rgb(44, 44, 44);
  z-index: 2;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
  transition: width .3s, height .3s;
}

.settings_container_header {
  border-bottom: solid 1px rgb(71, 71, 71);
  padding-bottom: 5px;
  user-select: none;
  display: flex;
}

.settings_header_close {
  margin-left: auto;
}

.settings_header_text {
  font-size: 18px;
}

.settings_header_close.btn>span {
  height: 8px;
  width: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
}


.bg_blur {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;
}


/** LOADING SPINNER **/

.spinner {
  width: 40px;
  height: 40px;
}

.cube1,
.cube2 {
  background-color: #7e7e7e88;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.settings_button.white {
  filter: invert(100%) sepia(3%) saturate(3089%) hue-rotate(254deg) brightness(108%) contrast(102%);
}

.settings_button {
  width: 30px;
}

.settings_button_container {
  user-select: none;
  height: 30px;
  border-radius: 10em;
  padding: 5px;

}

.settings_container_item {
  display: flex;
  background-color: transparent;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.settings_container_item:not(:last-child) {
  margin-bottom: 10px;
}

.settings_input_selection {
  margin-left: auto;
  display: flex;
  background-color: rgb(39, 39, 39);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

.settings_container_item_desc {
  margin-left: 5px;
  color: rgb(177, 177, 177);
}

.sdesc {
  background-color: rgb(39, 39, 39);
  padding: 10px;
  max-width: 250px;
  border-radius: 3px;
  z-index: 2;
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.sinput_selection {
  cursor: pointer;
}

.sinput_selection.sinput_selected {
  border-bottom: solid 1px rgb(100, 100, 100);
}

.sinput_selection:last-child {
  border-left: solid 1px rgb(77, 77, 77);
  padding-left: 10px;
  margin-left: 10px;
}

.settings_container_content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header_settings {
  right: 15px;
  top: 15px;
  height: 30px;
  z-index: 1;
  transition: transform .3s;
  transform-origin: right top;
  cursor: pointer;
  position: absolute;
}

/** MISC **/

@media screen and (max-width: 1200px) {
  .header_title {
    justify-content: left;
  }

  header {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .location_search {
    width: 90%;
  }

  .location_search_input {
    width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  .settings_container {
    width: 90%;
    height: 80%;
  }
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
  }

  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
  }

  100% {
    -webkit-transform: rotate(-360deg)
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}