/* todo:
 use calc-size for expandable elements when its fully released
*/

* {
    scrollbar-width: thin;
    color: white;
    transition: filter .4s;
}

html {
    line-height: normal !important;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

main {
    position: relative;
    z-index: 2;
}

a:hover {
    text-decoration: underline;
}

.relative {
    position: relative;
}

.blur {
    filter: blur(5px);
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.align_mright {
    margin-left: auto;
}

.clickable {
    cursor: pointer;
}

.container-header {
    width: 100%;
    position: absolute;
    margin-top: 10px;
    z-index: 99;
    display: flex;
    pointer-events: none;
}

.footer-title {
    position: relative;
    display: none !important;
    margin-left: auto;
}

.footer-title>.title-logo {
    position: absolute;
    left: -35px;
}

.container-footer {
    display: flex;
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
}

.container-footer>.footer-copyright {
    font-family: monospace;
}

.smallgray {
    color: gray !important;
    font-size: 12px !important;
}

.smalltext {
    font-size: 11px !important;
}

.material-tooltip {
    background: #2e3133 !important;
    color: white !important;
}

.material-tooltip>* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.container-header-title {
    display: flex;
    justify-content: left;
    align-items: center;
    align-self: center;
}

.title-miscinfo {
    text-align: right;
    font-style: italic;
    font-size: 12px;
    align-self: flex-end;
    margin-bottom: 5px;
}

.title-name,
.title-logo {
    user-select: none;
    font-size: 16px;
}

.title-logo {
    width: 40px;
    height: 40px;
}

.divider {
    background: rgb(104, 104, 104) !important;
}

.w100 {
    width: 100% !important;
}

.modal,
.modal-footer {
    background-color: #1e1e1e !important;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.modal-close {
    margin-right: 5px !important;
}

.modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important
}

.setting {
    height: 29px !important;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 15px;
}

.settings-grid {
    display: grid;
}

.settings-grid>.seperator {
    margin-top: 15px;
}

.percentage-display {
    right: 15px;
    position: absolute;
    width: 15px;
    height: 50%;
    border-radius: 1rem;
    background-color: #313131;
    overflow: hidden;
}

.percentage-display>.percentage {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: white;
    transition: height 1s;
}

.input-field.col>label {
    left: 0 !important;
}

.setting>.input-field {
    margin: 0;
    margin-bottom: 5px !important;
    margin-left: auto !important;
}

.input-field {
    margin-bottom: 5px !important;
}


.setting.input-field>.select-wrapper {
    margin-left: auto !important;
}

.input-field>label {
    display: none;
}

.setting>label {
    margin-left: auto;
}

.setting>.input-field>input {
    height: 2.5rem !important;
    font-size: 15px !important;
    text-align: left;
    padding: 0 10px !important;
    display: flex;
}

.dropdown-content {
    height: 84px !important;
}

.dropdown-content>li {
    user-select: none;
    min-height: 15px !important;
}

.dropdown-content>li>span {
    padding: 10px 16px !important;
    user-select: none;
}


.range-field,
.range-field>input {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.setting-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seperator {
    background-color: #3b3b3b;
    height: 1px;
}

.setting-info {
    font-size: 17px !important;
    margin-left: 5px;
    background-color: #333333;
    border-radius: 1em;
    padding: 1px;
}

input[type="text"]:not(.browser-default) {
    border-bottom: 1px solid #3a3a3a !important;
}

input[type="text"]:not(.browser-default):focus {
    box-shadow: 0 0px 0 0 !important;
    border-bottom: 1px solid #555555 !important;
}

.material-symbols-outlined {
    user-select: none;
}

.search-box {
    margin-top: 25px !important;
    width: 600px !important;
}

.search-box-container {
    display: flex;
}

.search-box-container>.loading-spinner {
    transform: scale(80%);
    position: absolute;
    left: calc(100% - 40px) !important;
}

.searchcity_input {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.autocomplete-dropdown {
    position: fixed;
    width: 600px;
    z-index: 2;
    background-color: rgb(32, 32, 32);
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    max-height: 300px;
    overflow: auto;
}


.dropdown-item {
    width: 100%;
    box-shadow: none !important;
    text-transform: none !important;
    border-radius: 0 !important;
    background: transparent;
}

.dropdown-item:hover {
    background-color: rgb(51, 51, 51) !important;
}

.dropdown-item>.city-name {
    font-size: 15px;
}

.dropdown-item>.city-iso {
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
}

.loading-spinner {
    opacity: 50%;
    width: 42px;
    user-select: none;
    pointer-events: none;
    z-index: 100;
}

.loading-spinner>.cube1,
.loading-spinner>.cube2 {
    background-color: #47474788;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.loading-spinner>.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#toast-container {
    bottom: 10% !important;
    top: 0% !important;
}

.weather-data {
    margin-top: 45px !important;
    width: 560px !important;
    padding-bottom: 10px;
}

.weather-data>.weather-data-city-name {
    font-size: 20px;
    margin: 0;
}

.main-info-temperature {
    height: 30px;
    display: flex;
    align-items: center;
    transform: translateX(-15px);
    font-weight: bold;
    font-size: 25px;
}

.main-info-weather-icon {
    user-select: none;
    transform: scale(75%);
}

.main-info-left {
    display: grid;
    margin-left: auto;
    text-align: right;
}

.main-info-right {
    display: grid;
    margin-top: auto;
    text-align: left;
}

.temperature-value {
    transform: translateX(-10px);
}

.main-info {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.weather-description {
    font-size: 12px;
    color: gray;
    text-wrap: nowrap;
    margin-top: 5px;
}

.wind-direction {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-left: auto;
}

.wind-direction-icon {
    transition: transform 1s, scale .2s;
}

.weather-data-info-wind {
    gap: 35px !important;
}

.gray-filter {
    filter: invert(100%) sepia(12%) saturate(12%) hue-rotate(292deg) brightness(93%) contrast(78%)
}

.wind-info {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.wind-directiondeg {
    color: gray;
    font-size: 12px;
    text-align: right;
}

.wind-info>.wind-speed-value {
    margin-left: 5px;
}

.sunsetrise-info,
.misc-weather-info {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.weather-data-current-time {
    margin-bottom: 0;
    font-size: 12px;
}

.weather-data-info-item {
    position: relative;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    align-self: center;
    display: flex;
    background-color: rgb(22, 22, 22);
    padding: 10px;
    border-radius: 4px;
    width: 50%;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: auto;
    max-height: 55px;
    min-height: 55px;
    transition: max-height .2s;
}

.weather-data-info-item.expand {
    max-height: 150px !important;
}


.weather-data-info-item-value {
    margin: 0;
    font-weight: bold;
    user-select: none;
}

.weather-data-info-item-name {
    margin: 0;
    color: gray;
    font-size: 12px;
    user-select: none;
    margin-bottom: auto;
}

.weather-data-info-icon {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 45px;
    height: 45px;
    user-select: none;
    margin-left: auto;
}

.settings-button-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
}

.settings-btn {
    width: 30px !important;
    height: 30px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex !important;
    box-shadow: none !important;
}

.test-setting-item {
    margin-top: 10px;
}

.weather-forecast-list {
    position: relative;
    max-height: 300px !important;
    height: max-content !important;
    gap: 0;
}

.weather-forecast-items,
.weather-forecast-misc-items {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.weather-forecast-misc-items {
    gap: 17px
}

.weather-forecast-rain-chance,
.weather-forecast-rain-chance>.material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 10px;
    color: rgb(39, 161, 236);
}


.weather-forecast-items::-webkit-scrollbar {
    display: none;
}

.weather-forecast-item,
.weather-forecast-misc-item {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 100%;
}

.weather-forecast-temperature-value,
.weather-forecast-time-value {
    font-size: 12px;
    font-weight: bold;
}

.weather-forecast-misc-windspeed-value {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: bold;
}

.weather-forecast-misc-windspeed-value {
    display: flex;
    white-space: nowrap;
    align-items: baseline;
}

.unitText {
    font-size: 8px !important;
    margin-left: 2px;
}

.weather-forecast-misc-time-value {
    margin-top: 5px;
    font-size: 12px;
}

.weather-forecast-time-value {
    font-weight: normal;
}

.weather-forecast-icon {
    height: 40px;
    width: 40px;
    user-select: none;
}

.notifications {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: transparent;
}

.notification:first-child {
    margin-bottom: auto;
}

.notification {
    z-index: 99999999;
    cursor: pointer;
    position: relative;
    padding: 10px;
    border-radius: 2px;
    background-color: #313131;
    width: 100%;
    max-height: 6.5em;
    user-select: none;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform .2s, max-height .2s;
    animation: notification-in .2s;
}

.close-button {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
    z-index: 3;
}

.close-button:focus {
    background-color: transparent !important;
}

.notification-expand {
    max-height: 10em;
}

.notification-out {
    transform: translateX(110%) !important;
}

.notification:hover {
    transform: translateX(-5px);
}

.notification::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    right: -15px;
    box-shadow: inset rgba(0, 0, 0, 0.651) 0 -5px 5px;
}

.notification::after {
    box-shadow: inset var(--notification-boxshadow-color) 0 -5px 5px;
}

.notification-title {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
}

.notification-title-text {
    word-break: keep-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 5px;
    margin-bottom: 0px;
    font-weight: bold;
}

.notification-body {
    margin-top: 5px;
    margin-bottom: 0px;
    word-break: break-word;
}

.weather-alerts {
    display: grid;
    justify-content: center;
}

.weather-alert:not(:last-child) {
    margin-bottom: 5px;
}

.weather-alert {
    position: relative;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    background: #a01b1b;
    min-width: 350px;
    display: flex;
    align-items: center;
    max-width: 600px;
}

.weather-alert-content {
    display: grid;
    text-align: left;
    margin-left: 10px;
    width: 100%;
    word-break: break-word;
}

.weather-alert-icon {
    margin-bottom: auto;
    margin-top: 10px;
    font-size: 25px !important;
}

.weather-alert-headline {
    font-weight: bold;
    font-size: 14px;
}

.weather-alert-desc {
    font-size: 12px;
}

.weather-alert-time {
    font-size: 10px;
    color: #d1d1d1;
    margin-left: auto;
    margin-top: 5px;
    font-style: italic;
}

.hourly-details-tabs {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    gap: 5px;
}

.hourly-detail-tab {
    text-decoration: none !important;
    font-size: 12px;
    color: gray;
    cursor: pointer;
    padding: 1px 5px !important;
    background-color: #1e1e1e;
    border-radius: 3px;
    transition: background-color .2s;
    user-select: none;
}

.tab-selected {
    outline: solid 1px #3b3b3b !important
}

.hourly-detail-tab:hover {
    background-color: #272727;
}

@media only screen and (max-width: 700px) {
    .search-box {
        width: 100% !important;
    }

    .weather-data {
        width: 95% !important;
    }

    .weather-alert {
        width: calc(100vw - 100px);
    }

    .title-miscinfo {
        font-size: 10px;
    }

    .autocomplete-dropdown {
        width: 90%;
    }

    .notifications {
        width: 100%;
    }

    .notification {
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 930px) {
    .search-box {
        margin-top: 35px !important;
    }
}

@media only screen and (max-height: 730px) {
    .search-box {
        margin-top: 0 !important;
    }

    .container-footer {
        position: relative;
        padding: 10px 5px;
    }

    .container-header {
        display: none;
    }

    .footer-title {
        display: flex !important;
    }
}

@keyframes notification-in {
    from {
        transform: translateX(110%);
    }

    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
}