* {
    scrollbar-width: thin;
    color: white;
    transition: filter .4s;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

body {
    background-color: rgb(27, 27, 27);
}

a:hover {
    text-decoration: underline;
}

.blur {
    filter: blur(2px);
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.align_mright {
    margin-left: auto;
}

.clickable {
    cursor: pointer;
}

.container-header {
    margin-top: 10px;
}

.smallgray {
    color: gray !important;
    font-size: 12px !important;
}

.container-header-title {
    display: flex;
    justify-content: left;
}

.title-miscinfo {
    text-align: right;
    font-style: italic;
    font-size: 12px;
    align-self: flex-end;
    margin-bottom: 5px;
}

.title-name,
.title-logo {
    user-select: none;
}

.divider {
    background: rgb(104, 104, 104) !important;
}

.w100 {
    width: 100% !important;
}

.modal,
.modal-footer {
    background-color: #1e1e1e !important;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.modal-close {
    margin-right: 5px !important;
}

.modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important
}

.setting {
    height: 29px !important;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 15px;
}


.settings-grid {
    display: grid;
}

.settings-grid>.seperator {
    margin-top: 15px;
}


.input-field.col>label {
    left: 0 !important;
}

.setting>.input-field {
    margin: 0;
    margin-bottom: 5px !important;
    margin-left: auto !important;
}

.input-field {
    margin-bottom: 5px !important;
}

.setting>.input-field>input {
    height: 2.5rem !important;
}

.setting.input-field>.select-wrapper {
    margin-left: auto !important;
}

.input-field>label {
    display: none;
}

.setting>label {
    margin-left: auto;
}

.setting>.input-field>input {
    height: 29px !important;
    font-size: 15px !important;
}

.range-field,
.range-field>input {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.setting-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seperator {
    background-color: #3b3b3b;
    height: 1px;
}

.setting-info {
    font-size: 17px !important;
    margin-left: 5px;
    background-color: #333333;
    border-radius: 1em;
    padding: 1px;
}

input[type="text"]:not(.browser-default) {
    border-bottom: 1px solid #3a3a3a !important;
}

input[type="text"]:not(.browser-default):focus {
    box-shadow: 0 0px 0 0 !important;
    border-bottom: 1px solid #555555 !important;
}

.material-symbols-outlined {
    user-select: none;
}

.search-box {
    margin-top: 50px !important;
    width: 600px !important;
}

.search-box-container {
    display: flex;
}

.search-box-container>.loading-spinner {
    transform: scale(40%);
    position: absolute;
    left: calc(100% - 40px) !important;
}

.searchcity_input {
    margin-bottom: 0 !important;
}

.autocomplete-dropdown {
    position: fixed;
    width: 600px;
    z-index: 2;
    background-color: rgb(32, 32, 32);
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    max-height: 300px;
    overflow: auto;
}

.dropdown-item {
    width: 100%;
    box-shadow: none !important;
    text-transform: none !important;
    border-radius: 0 !important;
}

.dropdown-item>.city-name {
    font-size: 15px;
}

.dropdown-item>.city-iso {
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
}

.loading-spinner {
    width: 42px;
    height: 42px;
    user-select: none;
    pointer-events: none;
}

.loading-spinner>.cube1,
.loading-spinner>.cube2 {
    background-color: #47474788;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.loading-spinner>.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#toast-container {
    bottom: 10% !important;
    top: 0% !important;
}

.weather-data {
    margin-top: 10px !important;
    width: 560px !important;
}

.weather-data>.weather-data-city-name {
    font-size: 20px;
    margin: 0;
}

.main-info-temperature {
    height: 30px;
    display: flex;
    align-items: center;
    transform: translateX(-15px);
    font-weight: bold;
    font-size: 25px;
}

.main-info-weather-icon {
    user-select: none;
    transform: scale(75%);
}

.main-info-left {
    display: grid;
    margin-left: auto;
    text-align: right;
}

.main-info-right {
    display: grid;
    margin-top: auto;
    text-align: left;
}

.temperature-value {
    transform: translateX(-10px);
}

.main-info {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.weather-description {
    font-size: 12px;
    color: gray;
    text-wrap: nowrap;
}

.wind-direction {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-left: auto;
}

.wind-direction-icon {
    transition: transform 1s, scale .2s;
}

.weather-data-info-wind {
    gap: 35px !important;
}

.gray-filter {
    filter: invert(100%) sepia(12%) saturate(12%) hue-rotate(292deg) brightness(93%) contrast(78%)
}

.wind-info {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.wind-directiondeg {
    color: gray;
    font-size: 12px;
    text-align: right;
}

.wind-info>.wind-speed-value {
    margin-left: 5px;
}

.sunsetrise-info,
.misc-weather-info {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.weather-data-current-time {
    margin-bottom: 0;
    font-size: 12px;
}

.weather-data-info-item {
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    align-self: center;
    display: flex;
    background-color: rgb(22, 22, 22);
    padding: 10px;
    border-radius: 4px;
    width: 50%;
    max-height: 65px;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: auto;
    transition: max-height .2s;
}

.weather-data-info-item.expand {
    max-height: 150px !important;
}


.weather-data-info-item-value {
    margin: 0;
    font-weight: bold;
    user-select: none;
}

.weather-data-info-item-name {
    margin: 0;
    color: gray;
    font-size: 12px;
    user-select: none;
}

.weather-data-info-icon {
    width: 45px;
    height: 45px;
    user-select: none;
    margin-left: auto;
}

.settings-button-container {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 5px;
}

.settings-btn {
    width: 30px !important;
    height: 30px !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex !important;
    box-shadow: none !important;
}

@media only screen and (max-width: 700px) {
    .search-box {
        width: 100% !important;
    }

    .weather-data {
        width: 95% !important;
    }

    .title-miscinfo {
        font-size: 10px;
    }

    .autocomplete-dropdown {
        width: 90%;
    }
}

@media only screen and (max-width: 430px) {
    .weather-data-info-icon {
        display: none;
    }
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}